<h1>Here your cup runneth over</h1>

<%= link_to "Add a Question", new_question_path, :class => "btn btn-large btn-success" %>

<ul class="questions">
<% @questions.each do |inquisition| %>
  <li><%= link_to inquisition.title, inquisition %>
    <% if inquisition.user == current_user %>
      <%= link_to '', question_path(inquisition), 
          :class => 'icon-remove', :remote => true, :method => 'delete' %>
    <% end %>
  </li>
<% end %>
</ul>
